@use '../../styles/variables';

.box {
  width: 300px;
  height: fit-content;
}

.apps {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  list-style: none;
  font-size: 36px;
  color: variables.$secondary-color;

  li {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 25px;
    padding-left: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  li:hover {
    background-color: variables.$hover-color;

  }

  li.selected{
    background-color: variables.$secondary-color;
    color: variables.$primary-color;
  }
}

.link {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 1110px) {
  .box {
    display: none;
  }
}
