@use '../../styles/variables';

.container{
    display: block;
   width: 300px;
   height: fit-content;
   image-rendering: pixelated;
   
    border-image: url(/side-container.webp) 41% / 32px 32px round;
    background-color: variables.$primary-color;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.apps{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    list-style: none;
    font-size: 36px;
    color: variables.$secondary-color;
}

@media (max-width: 1110px){
  .container{
    display: none;
  }
}