@import '../../variables.scss';

.container{
   width: 300px;
    background-color: $primary-color;
}

.apps{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 72px;
    padding-top: 40px;
    padding-bottom: 40px;
    list-style: none;
    font-size: 36px;
    color: $secondary-color;
}