@import './styles/variables.scss';

.container {
  min-width: 700px;
  max-width: 70vw;
  height: 75dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1 {
  font-weight: 600;
  font-size: 40px;
  color: $primary-color;
}
