@import '../styles/variables.scss';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.post {
  display: flex;
  gap: 15px;
  align-items: flex-end;
}

.input {
  width: 75%;
}

.submit {
  all: unset;
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  overflow: hidden;

  & > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.p {
  padding-right: 25px;

  textarea {
    all: unset;
    width: 100%;
    height: 100%;
    font-size: 36px;
    padding-left: 15px;
    word-wrap: break-word;
    white-space: pre-wrap;
    resize: none;
  }
}

.tasks {
  display: flex;
  gap: 15px;
  align-items: flex-end;
  flex-grow: 1;

  &__display {
    width: 75%;
    height: 100%;

    ul {
      padding-left: 25px;
      padding-right: 25px;

      li{
        font-size: 36px;
        white-space: pre-wrap;
        overflow-wrap: anywhere;
        hyphens: auto;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__arrows {
      display: flex;
      gap: 15px;
    }

    &__delete {
      all: unset;
      position: relative;
      width: 135px;
      height: 60px;
      cursor: pointer;
      display: inline-block;
      padding: 0;
      overflow: hidden;

      & > div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 1110px) {
  .input {
    flex-grow: 1;
  }

  .tasks {
    flex-direction: column;
    align-items: flex-start;

    &__display {
      width: 100%;
      flex-grow: 1;
    }

    &__buttons {
      width: 100%;
      padding-left: 15px;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
