@import '../styles/variables.scss';

.post{
    display: flex;
    gap: 15px;
    align-items: flex-end;
}

.input{
    width: 100%;
}

.submit{
    width: 75px;
    height: 75px;
}

.p{
    padding-right: 25px;
    
      textarea {
          all: unset;
          width: 100%;
          height: 100%;
          font-size: 36px;
          padding-left: 15px;
          word-wrap: break-word;
          white-space: pre-wrap;
          resize: none;
      }
}